.nav__toggler {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: none;
  cursor: pointer;
  z-index: 2;
}

@media (max-width: 768px) {
  .nav__menu {
    display: none;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #282c34;
    z-index: 1;
  }

  .nav__item {
    margin: 1rem;
  }

  .nav__link {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in;
  }

  .nav__link:hover {
    color: #61dafb;
  }

  .nav__toggler {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    z-index: 2;
  }

  .nav__toggler .line1,
  .nav__toggler .line2,
  .nav__toggler .line3,
  .nav__toggler .line4 {
    width: 3rem;
    height: 0.3rem;
    background-color: #fff;
    margin: 5px;
    border-radius: 1rem;
    transition: all 0.3s ease-in;
  }

  .nav__toggler-active .line1 {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .nav__toggler-active .line2 {
    opacity: 0;
  }

  .nav__toggler-active .line3 {
    transform: rotate(-45deg) translate(7px, -6px);
  }

  .nav__toggler-active .line4 {
    transform: translate(-2px, -2px);
  }
}
